*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

/* Utilities */
:root{
    --primary-header:#0084FD;
    --primary-soft:#B5DDFF;
    --secondary-sections:#9792E4;
    --text-free:#FDC15F;
    --footer:#333333;

    
}
.container
{
	max-width: 1152px;
	width: 80%;
	margin: auto;
}

.row
{
	margin: 0 -1rem;
}

.d_flex {
    display: flex;
  }
  .d_column {
    flex-direction: column;
  }
  .d_row {
    flex-direction: row;
  }
  .d_none {
    display: none;
  }
  .d_block {
    display: block;
  }
  .txt-align-cnt{
    text-align: center;
  }
  .card-pad{
    padding:15px 30px;
  }
  .primary-blu{
    color: var(--primary-header);
  }
  .f_wrap{
    flex-wrap: wrap;
  }
  .marg-bottom{
    margin:10px 0;
  }
  
/*
[class^='col-']
{
	padding: 0 1rem;
}*/

/*
.col-4
{
	width: calc(100% / 12 * 4);
  height: 100%;
}

.col-6
{
	width: calc(100% / 12 * 6);
  height: 100%;
}

.col-8
{
	width: calc(100% / 12 * 8);
  height: 100%;
}
*/




/* INIZIO HEADER */

/*********** Mobile First ***********/
header
{
	background-color:var(--primary-header);
}

header nav
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}
.desktop_menu {
  display: none;
}


/* Tablet media query */

@media screen and (min-width: 768px) {

  .col-4 {
      width: calc(100% / 12 * 4);
      margin:10px 0;
  }

  .col-8 {
      width: calc(100% / 12 * 8);
      margin: 10px 0;
  }
  .card{
    margin-right:10px;
  }
 
  
}


/* Desktop media query */

@media screen and (min-width: 1200px) {

  .mobile_menu {
      display: none;
  }

  .desktop_menu {
      display: block;
  }

  .desktop_menu>a,button{
    padding:0 5px;
    }
    .desktop_menu>a{
        text-decoration: none;
        color: white;
    }

  .desktop_menu>button{
    border-radius: 15px;
    padding:5px;
    background-color: white;
    border:none;
    }

    .col-4
{
	width: calc(100% / 12 * 4);
  height: 100%;
  margin-bottom:15px;
}

.col-6
{
	width: calc(100% / 12 * 6);
  height: 100%;
  margin-bottom:15px;
}

.col-8
{
	width: calc(100% / 12 * 8);
  height: 100%;
  margin-bottom:15px;
  
}

}

/************ SITE MAIN *************/

/* 1 card with img*/

.card{
  background-color:var(--primary-soft);
  height: 100%;
  border: 1px solid black;
  border-radius: 25px;
 
}
.card-img>img{
  width: 100%;
  margin-bottom:-20px;
}
#demo-btn>button{
  background-color: var(--primary-header);
  padding: 8px 35px;
  border-radius: 15px;
  color: white;
  border:none;
}
/* all the cards left */
.card-icon>i{
  font-size: 4.5em;
  padding-top:55px;
  color: var(--primary-header);
}

/* section planning */
.planning{
  background-color: var(--secondary-sections);
  padding-bottom:30px;
}
.card-planning{
  background-color: var(--secondary-sections);
}
.img-fluid {
  max-width: 100%;
}
.card_img{
  height: 100%;
}
.card_text{
  color: white;
}
.card_text>h2,p{
padding:20px 0;
}
.card_text>p{
  margin-bottom:20px;
}
.container-planning{
  padding:40px 0;
  max-width: 1152px;
	width: 80%;
	margin: auto;
}

.card-app-dev{
  height: 100%;
  background-color: white;
  border-radius: 25px;
  padding-bottom:30px;
}
.fa-arrow-down:before {
  border-radius: 20px;
  background-color: var(--secondary-sections);
  padding: 10px;
}
/* Fine sezine planning */

/* inizio sezione testimonials */
.col-12{
  width: 100%;
}
.text-testimonials>h1{
  color: var(--secondary-sections);
  font-size: 30px;
}
.text-testimonials>p{
  font-size: 18px;
}
.text-testimonials>h1,h4,p{
  padding:15px 0;
}
.text-testimonials{
  background-color: white;
}
#testimonials{
  background-color: white;
}

.card-testimonials{
  background-color:var(--secondary-sections);
  height: 100%;
  border: 1px solid black;
  border-radius: 25px;
  padding:10px 10px;
  margin:10px 0;
}
.img-test>img{
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  padding:15px 0;
}
.test-text>p{
color: white;
}

