*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

/* Utilities */
:root{
    --primary-header:#0084FD;
    --primary-soft:#B5DDFF;
    --secondary-sections:#9792E4;
    --text-free:#FDC15F;
    --footer:#333333;

    
}
.container
{
	max-width: 1152px;
	width: 80%;
	margin: auto;
}

.row
{
	margin: 0 -1rem;
}

.d_flex {
    display: flex;
  }
  .d_column {
    flex-direction: column;
  }
  .d_row {
    flex-direction: row;
  }
  .d_none {
    display: none;
  }
  .d_block {
    display: block;
  }
  .txt-align-cnt{
    text-align: center;
  }
  .card-pad{
    padding:15px 30px;
  }
  .primary-blu{
    color: var(--primary-header);
  }
  .f_wrap{
    flex-wrap: wrap;
  }
  .marg-bottom{
    margin:10px 0;
  }
  .text-left{
    text-align: left;
  }
  .pad-bottm{
    padding-bottom:35px;
  }
  .pad-col{
    padding-bottom:20px;
  }
  .align-end{
    align-items:end;
  }
  .space-evenly{
    justify-content: space-evenly;
  }
  
/*
[class^='col-']
{
	padding: 0 1rem;
}*/

/*
.col-4
{
	width: calc(100% / 12 * 4);
  height: 100%;
}

.col-6
{
	width: calc(100% / 12 * 6);
  height: 100%;
}

.col-8
{
	width: calc(100% / 12 * 8);
  height: 100%;
}
*/




/* INIZIO HEADER */

/*********** Mobile First ***********/
header
{
	background-color:var(--primary-header);
}

header nav
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}
.desktop_menu {
  display: none;
}




/************ SITE MAIN *************/

/* 1 card with img*/

.card{
  background-color:var(--primary-soft);
  height: 100%;
  border-radius: 25px;
 
}

.card-img>img{
  width: 65%;
  margin-bottom:-20px;
}
#demo-btn>button{
  background-color: var(--primary-header);
  padding: 8px 35px;
  border-radius: 15px;
  color: white;
  border:none;
}
/* all the cards left */
.card-icon>i{
  font-size: 4.5em;
  padding-top:55px;
  color: var(--primary-header);
}

/* section planning */
.planning{
  background-color: var(--secondary-sections);
  padding-bottom:30px;
}
.card-planning{
  background-color: var(--secondary-sections);
}
.img-fluid {
  max-width: 100%;
}
.card_img{
  height: 100%;
}
.card_text{
  color: white;
}
.card_text>h2{
  color: white;
  font-size:50px;
  text-align: left;
}

.card_text>h2,p{
padding:20px 0;
}
.card_text>p{
  margin-bottom:20px;
  text-align: left;
  
}
.container-planning{
  padding:40px 0;
  max-width: 1152px;
	width: 80%;
	margin: auto;
}

.card-app-dev{
  height: 100%;
  background-color: white;
  border-radius: 25px;
  padding:0 15px;
  padding-bottom:30px;
  
}
.fa-arrow-down:before {
  border-radius: 20px;
  background-color: var(--secondary-sections);
  padding: 10px;
}
/* Fine sezine planning */

/* inizio sezione testimonials */
.col-12{
  width: 100%;
}
.text-testimonials>h1{
  color: var(--secondary-sections);
  font-size: 30px;
}
.text-testimonials>p{
  font-size: 18px;
}
.text-testimonials>h1,h4,p{
  padding:15px 0;
}
.text-testimonials{
  background-color: white;
}
#testimonials{
  background-color: white;
}

.card-testimonials{
  background-color:var(--secondary-sections);
  height: 100%;
  border: 1px solid black;
  border-radius: 100px;
  padding:10px 10px;
  margin:20px 0;
}
.img-test>img{
  width: 300px;
  border-radius: 50%;
  height: 300px;
  object-fit: cover;
  padding:15px 20px;
}
.img-test{
  text-align: center;
}
.test-text>p{
color: white;
}
/* fine sezione testimonials */

/* benefits */
#benefits{
  background-color: var(--secondary-sections);
}
#title-ben{
  color: white;
  padding: 30px 0;
  font-size:40px;
}
.card-benefits>h1,h2,p{
  padding:15px 0;
}
.card-benefits>h1,h2{
color: var(--secondary-sections);
}
.card-benefits{
  background-color: white;
  border-radius: 20px;
  padding:10px 20px;
}
.btn-benefits{
  background-color: var(--secondary-sections);
  color: white;
  padding:10px 50px;
  border-radius: 20px;
  text-decoration: none;
}
/* fine sezione benefits */

/* inizio sezione about us*/
.info>h1{
  color: var(--secondary-sections);
  padding-top:40px;
  padding-bottom:20px;
  font-size: 35px;
  padding-left:15px;
  padding-right:15px;
}
.info>p{
  padding-left:15px;
  padding-right:15px;
  padding-top:5px;
  padding-bottom:30px;
}
#about .profile-img {
  width:50%;
  position: relative;
  background-image: url(img/about.jpg);
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: cover;
  margin-bottom: 0.5rem;
}
#about .profile-img i {
  position: absolute;
  right: -15px;
  color: var(--secondary-sections);
}

.presentation>h2,a{
  padding:20px 15px;
}
.presentation>a{
  background-color: var(--secondary-sections);
  color: white;
  border-radius: 20px;
  padding:5px 8px;
  text-decoration: none;
}
.fa-linkedin{
  padding:0 8px;
}
.presentation{
  padding-bottom:50px;
}
/* fine about us section */

/* inizio get started section */
#get-started{
  background-color: var(--secondary-sections);
}
.getting-started>h3{
  padding-top:50px;
}
.getting-started>h2,h3{
 color: white;
}
.getting-started>h1{
  color:  #fdc15f;
  font-size: 50px;
 }
 .getting-started>p{
  color:white;
  padding:25px 0;
}
.btn-get-started{
  background-color: white;
  color:var(--secondary-sections);
  padding:10px 80px;
  text-decoration: none;
  border-radius: 20px;
}
.policies>span,a{
 text-decoration: none;
  color: white;
}
.getting-started{
  padding-bottom:35px;
}
.policies{
  padding-bottom:50px;
}
/* fine get started section */

/* footer */
#site-footer{
  background-color: var(--footer);
}
.top{
  padding:40px 0;
}
.top ,.bottom{
  color:white;
}
.bottom>a{
  color:var(--secondary-sections);
}
.bottom{
  padding-bottom:40px;
}

/* Tablet media query */

@media screen and (min-width: 768px) {

  .col-4 {
      width: calc(100% / 12 * 4);
      margin:10px 0;
  }

  .col-8 {
      width: calc(100% / 12 * 8);
      margin: 10px 0;
  }
  .card{
    margin-right:10px;
  }
  .card-testimonials{
    display:flex;
  }
  .test-text{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align:left;
    
  }
  .col-6
{
	width: calc(100% / 12 * 6);
  height: 100%;
  
}
.marg-flex{
  margin:0 8px;
}
.flex-tab{
  display: flex;
}
.col-2-2{
width: 50%;
}
.col-center{
  text-align:center;
  padding-top:45px;
}

}


/* Desktop media query */

@media screen and (min-width: 1200px) {

  .mobile_menu {
      display: none;
  }

  .desktop_menu {
      display: block;
  }

  .desktop_menu>a,button{
    padding:0 5px;
    }
    .desktop_menu>a{
        text-decoration: none;
        color: white;
    }

  .desktop_menu>button{
    border-radius: 15px;
    padding:5px;
    background-color: white;
    border:none;
    }

    .col-4
{
	width: calc(100% / 12 * 4);
  margin-bottom:15px;
}

.col-8
{
	width: calc(100% / 12 * 8);
  margin-bottom:15px;
}
.col-8-flex{
  display: flex;
}
.col-5{
  width:50%;
}
.col-5-left{
  text-align: left;
}
.col-50{
  width: 40%;
  margin:auto;
}
.col-8-flex{
  display: flex;
  
}
.col-5{
  width:50%;
}
.card_text>h2{
  padding-top:100px;
}
.card-app-dev{
  margin-top:200px;
}
.col-6
{
  width: calc(33.33% - 5px);
  height: 100%;
  
  
}


}